<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Portfólio GETAG - Galeria</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon-GETAG.svg" rel="icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/README.md" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <link href="/assets/css/galeria-estilo.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="fundo">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <!-- OFFCANVAS(Sanduiche) -->
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    <div class="container-fluid d-flex align-items-center justify-content-around">
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/sobre.html">Sobre</a></li>
          <li class="dropdown"><a href="#"><span>Serviços</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                <li><a href="/view/servicos/geoprocessamento/geoprocessamento.html">Geoprocessamento</a></li>
                <li><a href="/view/servicos/analise_de_dados/analise_de_dados.html">Analise de dados</a></li>
                <li><a href="/view/servicos/desenvolvimento/desenvolvimento.html">Desenvolvimento</a></li>
                <li><a href="/view/servicos/devops/devops.html">Devops</a></li>
              </ul>
          </li>
          <li><a href="/galeria.html">GALERIA GETAG</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <section class="section-logoGETAG">
      <div class="row align-items-end">
        <div class="col-lg-6 text-center mb-5 mb-lg-0">
          <a href="/index.html" class="btn-zoom">
            <img src="/assets/img/Getag.svg" class="img-logoGETAG" alt="">
          </a>
        </div>

        <div class="col-lg-6">
            <h3 class="titulo-sobre">BI Planejamento de Revitalizações</h3>
            <hr class="linha">
        </div>
      </div>
    </section>

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container-galeria">

        <!-- Carrosel -->
        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide text-center">
                <img class="" src="/assets/img/analiseDeDados-8.svg" alt="">
              </div>
              <div class="swiper-slide text-center">
                <img class="" src="/assets/img/analiseDeDados-8-2.svg" alt="">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">
          <div class="col-lg-8">
            <div class="portfolio-description">
                <h3 class="titulo-sistema">
                    <a href="https://app.powerbi.com/view?r=eyJrIjoiMWU4MGQ1ZDItOTc3Ny00YzY3LThmODUtOWIyMjhiMzdiOTJiIiwidCI6Ijg1NDczOTk4LTFmODEtNDAxMS1iYzk3LTg3YWUwNGU2MTIwNCJ9" target="_blank"><i class="bi bi-link-45deg"></i>BI Planejamento de Revitalizações</a>
                </h3>
                <p class="texto-justift descricao-sistema">
                    A integração entre Geoprocessamento e Business Intelligence foi fundamental para conceber este projeto de forma inovadora.
                     Trata-se de um dashboard que oferece uma visualização interativa das escolas a serem revitalizadas, apresentando informações geográficas precisas sobre suas localizações, áreas e limites,
                      com destaque para a disponibilidade de espaço para novas construções. Este sistema não apenas fornece uma representação visual no mapa, mas também disponibiliza uma ampla gama de dados relacionados,
                       como detalhes sobre processos de revitalização, informações sobre áreas esportivas, poços e imagens da estrutura escolar.
                        Esta abordagem combinada entre Geoprocessamento e BI proporciona uma compreensão abrangente das condições e necessidades das escolas a serem revitalizadas,
                         facilitando a tomada de decisões estratégicas e a gestão eficiente desses projetos.
                </p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info text-center text-lg-start">
              <h2 class="inform titulo-sistema">Informações</h2>
              <ul>
                <li>
                  <strong class="descricao-sistema">Categoria</strong> 
                  <span class="texto-justift titulo-sistema">Analise de Dados</span>
                </li>
                <li>
                  <strong class="descricao-sistema">Ano</strong> 
                  <span class="texto-justift titulo-sistema">-</span>
                </li>
                <li>
                  <strong class="descricao-sistema">Integrantes</strong>
                   <span class="texto-justift titulo-sistema">Lucas</span>
                </li>
                <!-- <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li> -->
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Gallery Single Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        <!-- &copy; Copyright <strong><span>PhotoFolio</span></strong>. All Rights Reserved -->
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>

